<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Order Report</title>
    <style type="text/css">
        @page {
            size: A4;
            margin: 1cm;
            zoom: 200%;
        }

        /*  :root {
            --cyan: #62D1F3;
            --orange: #FFB64D;
        }*/
        h3 b,
        table thead {
            color: #292f85;
        }

        body,
        html {
            width: 100%;
            color: #353c4e;
            margin: 0;
            padding: 0;
            font-family: "Open Sans", sans-serif;
            font-size: 20px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="client flex-container">
            <p style="padding:0">
                <span class="name"><b style="color:#292f85">Full Name: </b>{{order.user.first_name}}
                    {{order.user.last_name}} </span>
                &nbsp;&nbsp;&nbsp;
                <span class="mobile"><b style="color:#292f85">Mobile: </b> {{order.user.mobile}}</span>
            </p>
        </div>

        <div class="order-info flex-container">
            <p style="padding:0">
                <span class="total"><b style="color:#292f85">Total: </b> {{order.total}}</span> &nbsp;&nbsp;&nbsp;
                <span class="status"><b style="color:#292f85">Status: </b> {{order.status}}</span> &nbsp;&nbsp;&nbsp;
                <span class="date"><b style="color:#292f85">Date: </b>{{order.createdAt}}</span>
            </p>
        </div>
        <div class="order-products">
            <table style="border-collapse: collapse">
                <thead>
                    <tr>
                        <td style="border:solid 1px #000; padding-top:5px; padding-left:2px; padding-right: 2px; color:#292f85 ; font-weight: bold ">Count
                        </td>
                        <td style="border:solid 1px #000; padding-top:5px; padding-left:2px; padding-right: 2px; color:#292f85 ; font-weight: bold ">Code</td>
                        <td style="border:solid 1px #000; padding-top:5px; padding-left:2px; padding-right: 2px; color:#292f85 ; font-weight: bold ">Price
                        </td>
                        <td style="border:solid 1px #000; padding-top:5px; padding-left:2px; padding-right: 2px; color:#292f85 ; font-weight: bold ">Size</td>
                        <td style="border:solid 1px #000; padding-top:5px; padding-left:2px; padding-right: 2px; color:#292f85 ; font-weight: bold ">Base
                            Product</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for orderProduct in order.products.all %}

                        {% if forloop.counter|divisibleby:2 %}
                        <td style="border:solid 1px #000; padding-top:5px; padding-left:2px; padding-right: 2px;  color:#353c4e ; ">
                            {{orderProduct.count}}
                        </td>
                        <td style="border:solid 1px #000; padding-top:5px; padding-left:2px; padding-right: 2px; color:#353c4e ; ">
                            {{orderProduct.product.code}}
                        </td>
                        <td style="border:solid 1px #000; padding-top:5px; padding-left:2px; padding-right: 2px; color:#353c4e ; ">
                            {{orderProduct.product.price}}
                        </td>
                        <td style="border:solid 1px #000; padding-top:5px; padding-left:2px; padding-right: 2px; color:#353c4e ; ">
                            {{orderProduct.product.size.nameEn}}</td>
                        <td style="border:solid 1px #000; padding-top:5px; padding-left:2px; padding-right: 2px; color:#353c4e ; ">
                            {{orderProduct.product.abstractProduct.nameEn}}</td>
                        {% else %}
                        <td style=" background-color: #f5f5f5; border:solid 1px #000; padding-top:5px; padding-left:2px; padding-right: 2px; color:#353c4e ; ">
                            {{orderProduct.count}}
                        </td>
                        <td style=" background-color: #f5f5f5; border:solid 1px #000; padding-top:5px; padding-left:2px; padding-right: 2px; color:#353c4e ; ">
                            {{orderProduct.product.code}}
                        </td>
                        <td style=" background-color: #f5f5f5; border:solid 1px #000; padding-top:5px; padding-left:2px; padding-right: 2px; color:#353c4e ; ">
                            {{orderProduct.product.price}}
                        </td>
                        <td style=" background-color: #f5f5f5; border:solid 1px #000; padding-top:5px; padding-left:2px; padding-right: 2px; color:#353c4e ; ">
                            {{orderProduct.product.size.nameEn}}</td>
                        <td style="background-color: #f5f5f5;border:solid 1px #000; padding-top:5px; padding-left:2px; padding-right: 2px; color:#353c4e ; ">
                            {{orderProduct.product.abstractProduct.nameEn}}</td>
                      
                        {% endif  %}


                        {% endfor %}
                    </tr>
                </tbody>

            </table>
        </div>

    </div>
</body>

</html>